@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

h1 {
    margin-bottom: 20px;
}

label {
    width: 100px;
}

input, textarea {
    width: 50%;
}
